* {
  /* font-family: Ricty, Consolas, monospace; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #eaf4fc;
  text-shadow: -1px 0 3px #0f2350, 0 1px 3px #0f2350, 1px 0 3px #0f2350, 0 -1px 3px #0f2350;
  font-weight: 300;
  margin: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(127, 127, 127, 0.3);
}

body, #root {
  display: flex;
  flex-direction: column;
  margin: 0px;
  height: 100vh;
}

.resizeHandle {
  /* background-image: url(../handle.png); */
  background-position: bottom right;
  background-repeat: no-repeat;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
